.footer-container {
    height: 6%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.pagination ul {
    display: flex;
    align-items: center;
    background-color: white;
    width: fit-content;
    padding: 0.5em 0.75em;
    border-radius: 3.125em;
    border:1px solid  rgba(81, 139, 184, 0.5);
    transition: all 0.4s ease;
    box-sizing: border-box;
    margin: 1em auto;
}

.pagination ul li {
    color: black;
    list-style: none;
    line-height: 2.5em;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
}

.pagination ul li.num {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    color:  rgb(81, 139, 184);
    margin: 0 0.2em;
}

.pagination ul li .dots {
    font-size: 1.25em;
    cursor: default;
    font-weight: bolder;
}

.pagination ul li > button {
    border:none;
    outline:none;
    width: inherit;
    height: auto;
    background-color: transparent;
    border-radius:5px;
    color:  rgb(81, 139, 184);
    padding: 0  1.25em;;
    cursor: pointer;
    margin: 0 5px;
}

.pagination ul li button.btnStart {
    border-radius: 25px 5px 5px 25px;
    margin-left: 0;
}

.pagination ul li button.btnEnd {
    border-radius: 5px 25px 25px 5px;
    margin-right: 0;
}

.pagination ul li.active,
.pagination ul li.num:hover {
    background-color:  rgba(81, 139, 184,0.8) !important;
    color:#fff !important;
}

.pagination ul li.disable {
    pointer-events: none;
    opacity: 0.4;
}

.pagination ul li button.disable {
    pointer-events: none;
    opacity: 0.4;
}


@media screen and (max-width: 960px) {
   
    .pagination ul {
        padding: 0.25em 0.5em;
        border-radius: 3.125em;
    }

    .pagination ul li {
        line-height: 1.5em;
        font-size: 0.75em;
    }

    .pagination ul li.num {
        width: 1.5em;
        height: 1.5em;
    }
    .pagination ul li > button {
        padding: 0 1em;
        margin: 0 2.5px;
        font-size: 0.75em;
    }
}

@media screen and (max-width: 360px) {

    .pagination ul li {
        line-height: 1em;
        font-size: 0.5em;
    }

    .pagination ul li.num {
        width: 1em;
        height: 1em;
    }
    .pagination ul li > button {
        padding: 0 1em;
        margin: 0 2px;
        font-size: 0.5em;
    }
}

@media screen and (max-height: 600px) {

    .pagination ul {
        padding: 0.25em 0.5em;
        border-radius: 3.125em;
    }

    .pagination ul li {
        line-height: 1.5em;
        font-size: 0.75em;
    }

    .pagination ul li.num {
        width: 1.5em;
        height: 1.5em;
    }
    .pagination ul li > button {
        padding: 0 1em;
        margin: 0 2.5px;
        font-size: 0.75em;
    }
}


@media screen and (max-width: 280px) {
    .pagination ul li {
        line-height: 1.2em;
        font-size: 0.3em;
    }

    .pagination ul li.num {
        width: 1.2em;
        height: 1.2em;
    }
    .pagination ul li > button {
        padding: 0 1em;
        margin: 0 2px;
        font-size: 0.3em;
    }
}

